/* -------------------

BASIC SETUP

----------------------*/

body {
    background-color: rgb(0, 0, 0);
    color: purple;
}

a {
    color: White;
}

label {
    font-size: large;
}

.btn{
    margin: 0 1.5%;
    width: 15%;
}
/* -------------------

HEADER SECTION

----------------------*/

nav {
    background-color: purple;
    color: black;
    margin-bottom: 2%;
}


/* ------------------

BODY SECTION

-------------------*/

.img-fluid {
    max-height: 100px;
}